.navbar {
	background-color: darkblue;
	display: flex;
	align-items: center;
	justify-content: center;

	.navbar-centent {
		display: flex;
		width: 90%;
		justify-content: space-between;
		color: #FFF;
		padding: 1rem;
		height: 40px;
		align-items: center;

		.left {
			display: flex;
			justify-content: space-between;
			gap: 30px;
			width: 30%;

			.loginUser {

				.icons {
					cursor: pointer;
					font-size: 33px;
				}
			}

			.cart {

				.icons {
					cursor: pointer;
					font-size: 33px;
				}
			}

			.search {
				display: flex;
				align-items: center;
				gap: 6px;

				.icons {
					cursor: pointer;
					font-size: 33px;
				}

				.searchInput {
					border: 1px solid lightgray;
					padding: 0.3rem;
					border-radius: 10px;
					background-color: #FFF;
					display: flex;
					align-items: center;

					input {
						border: none;
						width: 100%;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}
}
